body {
  font-family: 'News Cycle', sans-serif;
  margin: 0; }
  body .main-img {
    max-height: 90%;
    max-width: 750px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0; 
    cursor: pointer; 
  }
    @media screen and (max-device-width: 450px) {
      body .main-img {
        width: 100%; 
      } 
    }
  body .logo-purple {
    z-index: 10; 
  }
  body .hover {
    opacity: 0; 
  }
  body .overlay {
    top: 100px;
    width: 70%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
  }
  @media (min-width: 0px) and (max-width: 900px) {
    body .overlay {
      font-size: 1em;
      width: 100%; 
      } 
    }
  body .overlay-content {
    color: rgba(108,108,108,1);
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    font-size: 3em;
    text-align: center;
  }
  body .overlay-content h4 {
    margin: 1em 0px;
  }
  body .overlay-content h6 {
    margin: 1.5em 0px;
  }
  @media (min-width: 0px) and (max-width: 500px) {
    body .overlay-content {
      font-size: 2em;
    }
    body .overlay-content h4 {
      margin: 0px;
    }
  }
  body .close {
    height: 1em;
    cursor: pointer;
    float: right;
    margin: 30px;
  }

  @font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?7mt4rl');
    src:    url('../../fonts/icomoon.eot?7mt4rl#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?7mt4rl') format('truetype'),
        url('../../fonts/icomoon.woff?7mt4rl') format('woff'),
        url('../../fonts/icomoon.svg?7mt4rl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close_small1:before {
    content: "\e60b";
    color: lightgrey;
  }

